#bouncer {
  margin-top: 6%;
  min-height: 100vh;
  font-size: 2em;
  text-align: center;
}

#frontDoor {
    margin-top: 3%;
    background-color: #34456e;
    color: white;
}

#frontDoor button{
    background-color: #5f79b8;
    color: white;
}

#casinoTable {
    background-color: #3a854c;
    color: white;
    text-align: center;
}

#casinoTable button {
    background-color: #233b28;
    color: white;
}

#casinoTable table {
    margin-left: 5%;
    margin-right: 5%;
}